<div class="container">
  <div class="left">
    <h1 class="logo">Sky'ss</h1>
    <p class="desc">
      The Angular pipes are used to Transform the Data. For Example, the Date
      pipe formats the date according to locale rules. We can pass arguments to
      pipe and chain pipes. The Angular also allows us to create the Custom Pipe
    </p>
    <div class="social-container">
      <span class="material-icons"> favorite </span>
      <span class="material-icons"> visibility </span>
      <span class="material-icons"> work </span>
    </div>
  </div>

  <div class="center">
    <h3 class="title">Useful link</h3>
    <ul class="list">
      <li class="list-item">Home</li>
      <li class="list-item">Cart</li>
      <li class="list-item">Men's shoes</li>
      <li class="list-item">Women's shoes</li>
      <li class="list-item">Bede's shoes</li>
      <li class="list-item">Gay's shoes</li>
      <li class="list-item">Les's shoes</li>
      <li class="list-item">Old's shoes</li>
    </ul>
  </div>

  <div class="right">
    <h3 class="title">Contact</h3>
    <div class="contact-item">
      <span class="material-icons"> room </span>
      80 Dich Vong Hau, Cau Giay, Ha Noi
    </div>
    <div class="contact-item">
      <span class="material-icons"> phone </span>
      0399999999
    </div>
    <div class="contact-item">
      <span class="material-icons"> mail </span>
      VSS@viettel.com.vn
    </div>
    <img src="https://i.ibb.co/Qfvn4z6/payment.png" alt="image" class="payment">
  </div>
</div>
