.container-fluid {
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1 {
  font-weight: 500;
}

.desc {
  margin-top: 11px;
}

.social-container {
  display: flex;
}

.material-icons{
  margin-right: 5px;
  font-size: 28px;
}

.center {
  flex: 1;
  padding: 20px;
}

.title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: large;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  width: 50%;
  margin-bottom: 10px;
}

.right {
  flex: 1;
  padding: 20px;
}

.contact-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.payment {
  width: 50%;
}

.facebook {
  font-size: 30px;
  color: blue;
  padding-right: 10px;
}

.instagram {
  font-size: 30px;
  color: red;
  padding-right: 10px;
}

.twitter {
  font-size: 30px;
  color: blue;
  padding-right: 10px;
}
