.container-fluid {
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .title {
    font-size: 50px;
  }
  
  .desc {
    font-size: 24px;
    font-weight: 300;
  }
  
  .input-container {
    width: 400px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin-top: 15px;
  }
  
  .input {
    border: none;
    flex: 8;
    padding-left: 20px;
  }
  
  .button {
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
  }

  span {
    color: red;
  }

  .button-container {
    text-align: center;
  }