<div class="container">
    <div class="wrapper">
      <div class="left">
        <span class="language"></span>
        <div class="search-container">
          <input class="input" placeholder="Search" />
          <span class="search-icon" class="material-icons"> search </span>
        </div>
      </div>
      <div class="center">
        <h1>Sky'ss Shop</h1>
      </div>
      <div class="right">
        <div class="menu-item">Register</div>
        <div class="menu-item">Sign in</div>
        <div class="menu-item">
          <span class="material-icons"> shopping_cart </span>
        </div>
      </div>
    </div>
  </div>
  